[submodule "Upstream/Gamepad.js"]
	path = Upstream/Gamepad.js
	url = https://github.com/kg/gamepad.js.git
[submodule "Upstream/ILSpy"]
	path = Upstream/ILSpy
	url = https://github.com/kg/ILSpy.git
[submodule "Examples/ThirdParty/Tetris"]
	path = Examples/ThirdParty/Tetris
	url = git://github.com/ttocs7/tetris.git
[submodule "Upstream/structs.js"]
	path = Upstream/structs.js
	url = https://github.com/dherman/structs.js.git
