[submodule "Upstream/Cecil"]
	path = Upstream/Cecil
	url = https://github.com/kevingadd/MonoCecil.git
[submodule "Upstream/Decompiler"]
	path = Upstream/Decompiler
	url = https://github.com/kevingadd/MonoCecilDecompiler.git
