
*.user
*.suo
_ReSharper.*
*.ReSharper
Compiler/obj
JSIL/obj
JSIL/bin
Meta/obj
Meta/bin
Tests/obj
Tests/bin
Proxies/obj
Proxies/bin
Examples/simpleray
Examples/bin
/bin
UpgradeLog.XML
_UpgradeReport_Files
Tests/TestCases/*.js
Tests/SimpleTestCases/*.js
Tests/SpecialTestCases/*.js
Tests/FailingTestCases/*.js

/Examples/Mannux
/Examples/Mannux-xna