
*.user
*.suo
*.metaproj
_ReSharper.*
*.ReSharper
Compiler/obj
Compiler/Profiles/*/obj
Compiler/Profiles/*/bin
Compiler/Analyzers/*/obj
Compiler/Analyzers/*/bin
JSIL/obj
JSIL/bin
Meta/obj
Meta/bin
Tests/obj
Tests/bin
Proxies/obj
Proxies/bin
Proxies/XNA/obj
Proxies/XNA/bin
Proxies/BCL/obj
Examples/simpleray
Examples/bin
/bin
UpgradeLog.XML
_UpgradeReport_Files
/Proxies/XNA4/bin
/Proxies/XNA4/obj
/Proxies/XNA3/obj
/Proxies/XNA3/bin
/jsil.org/demos/Mannux/*.js
/jsil.org/demos/Mannux/Content
/jsil.org/demos/Platformer/*.js
/jsil.org/demos/Platformer/Content
/jsil.org/demos/Tetris/*.js
/jsil.org/demos/Tetris/Content
/jsil.org/demos/Raytracer/*.js
/jsil.org/demos/Pathtracer/*.js
/jsil.org/demos/RPG/*.js
/jsil.org/demos/RPG/Content
/jsil.org/demos/Sully/*.js
/jsil.org/demos/Sully/Content
/jsil.org/demos/GameType/*.js
/jsil.org/demos/GameType/Content
/jsil.org/demos/Lumberjack/Content
/jsil.org/demos/Lumberjack/Files
/jsil.org/demos/Lumberjack/*.js
/jsil.org/demos/Lumberjack/*.ico
/jsil.org/demos/WebGL/*.js
/jsil.org/demos/WebGL/Page.cs
/jsil.org/demos/WebGL/Files/*
/jsil.org/demos/WebGL_Vertex_Structs/*.js
/jsil.org/demos/WebGL_Vertex_Structs/Page.cs
/jsil.org/demos/WebGL_Vertex_Structs/Files/*
/jsil.org/demos/TouchThumbSticks/*.js
/jsil.org/demos/TouchThumbSticks/Content
/jsil.org/demos/ProceduralTextures/*.js
/jsil.org/demos/Libraries
/jsil.org/demos/demos.zip
/Examples/obj
/Examples/ProceduralTextures/obj
/Examples/ProceduralTextures/bin
/Upstream/dxtc.cpp
/Upstream/LAME/*.exe
/Upstream/LAME/*.dll
/Upstream/FFMPEG/*.dll
/Upstream/FFMPEG/*.exe
/Upstream/FFMPEG/licenses
/Upstream/OggEnc/*.exe
/Upstream/xapparse/obj
/Upstream/xapparse/bin
Skeletons/*.js
Corlib/*.js
Corlib/*.nlp
/Try/obj
/Try/OAuth.cs
/jsil.org/try/bin/*
/jsil.org/try/OAuth.cs
*.jsillog
*.buildlog
*.resj
/SmokeTests/bin
/SmokeTests/obj
/Upstream/V8
*.sublime-*
*.VisualState.xml
/jsil.org/try/Libraries
/Examples/WebGL/bin
/Examples/WebGL/obj
/Examples/WebGL_Vertex_Structs/bin
/Examples/WebGL_Vertex_Structs/obj
/Examples/ThirdParty/TouchThumbSticks/TouchThumbSticks/bin
/Examples/ThirdParty/TouchThumbSticks/TouchThumbSticks/obj
/Examples/ThirdParty/TouchThumbSticks/TouchThumbSticksContent/bin
/Examples/ThirdParty/TouchThumbSticks/TouchThumbSticksContent/obj
*.cachefile
/Upstream/OpenTKBindingGenerator
/Upstream/OpenTKHeaderParser
*.RuntimeProfile
*.out
*.pdb
pingme.txt
/packages
/TestResults
/Tests/EmscriptenTestCases/*.dll
/Tests/EmscriptenTestCases/*.emjs
/Tests/EmscriptenTestCases/common/common.exp
/Tests/EmscriptenTestCases/common/common.lib
/Tests/EmscriptenTestCases/common/common.obj
/Tests/EmscriptenTestCases/common.js.map
desktop.ini
/httpd