
*.user
*.suo
_ReSharper.*
*.ReSharper
Compiler/obj
JSIL/obj
JSIL/bin
Meta/obj
Meta/bin
Tests/obj
Tests/bin
Proxies/obj
Proxies/bin
Proxies/XNA/obj
Proxies/XNA/bin
Examples/simpleray
Examples/bin
/bin
UpgradeLog.XML
_UpgradeReport_Files
Tests/TestCases/*.js
Tests/SimpleTestCases/*.js
Tests/SpecialTestCases/*.js
Tests/FailingTestCases/*.js

/Examples/Mannux
/Examples/Mannux-xna
/Examples/output/MannuxXNA/Mannux, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null.js
/Examples/output/MannuxXNA/Microsoft.Xna.Framework, Version=3.1.0.0, Culture=neutral, PublicKeyToken=6d5c3888ef60e27d.js
/Examples/output/MannuxXNA/Microsoft.Xna.Framework.Game, Version=3.1.0.0, Culture=neutral, PublicKeyToken=6d5c3888ef60e27d.js
/Examples/output/MannuxXNA/mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089.js