#canvas {
	left: 2px;
	top: 2px;
}
#welcomeMessage {
	width: 600px;
	height: 300px;
	left: 100px;
	top: 70px;
}
#loadButton {
	width: 200px;
	height: 40px;
	left: 299px;
	top: 289px;
}
#quitButton {
	width: 32px;
	height: 32px;
	left: 804px;
	top: 2px;
}
#loadingProgress {
	width: 600px;
	height: 40px;
	left: 99px;
	top: 289px;
}
#progressBar {
	height: 40px;
}
#log {
	width: 800px;
	height: 150px;
	left: 2px;
	top: 484px;
}
#stats {
	left: 804px;
	top: 50px;
}