html {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: black;
	color: white;
	margin: 0px;
	padding: 0px;
}
a, a:visited {
	color: silver;
}
#canvas {
	left: 0px;
	top: 0px;
	cursor: none;
}
#welcomeMessage {
	width: 640px;
	height: 140px;
	left: 0px;
	top: 170px;
}
#loadingProgress {
	width: 600px;
	height: 40px;
	left: 20px;
	top: 240px;
}
#progressBar {
	height: 40px;
}
#log {
	width: 640px;
	height: 200px;
	left: 2px;
	top: 484px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#fullscreenButton {
	left: 644px;
	top: 2px;
	height: 45px;
}
#stats {
	left: 644px;
	top: 50px;
}
.boxCaption {
	position: absolute;
	font-size: 10pt;
	font-family: Consolas, Courier New, Courier;
	z-index: -999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}