html, body {
	margin: 0px;
	padding: 0px;
}
body {
	overflow: hidden;
}
#canvas {
	background-color: black;
	margin: 0px;
	border: 0px;
	padding: 0px;

	image-rendering: optimizeSpeed; 
	image-rendering: -moz-crisp-edges; 
	image-rendering: -o-crisp-edges; 
	image-rendering: -webkit-optimize-contrast; 
	-ms-interpolation-mode: nearest-neighbor;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-user-drag: none; 
	-moz-user-drag: none; 
	user-drag: none;
}
#welcomeMessage {
	font-family: Calibri, Tahoma, Verdana, sans-serif;
	background-color: rgba(32, 32, 32, 1);
	border-color: black;
	border-width: 0px;
	border-radius: 16px;
	color: white;
	position: absolute;
	z-index: 80;
	padding: 8px;
	margin: -8px;
}
#welcomeMessage a {
	color: #BFBFFF;
}
#fullscreenButton, #loadButton, #quitButton {
	position: absolute;	
	z-index: 90;
}
#loadingProgress {
	background-color: black;
	border: 3px solid white;
	border-radius: 6px;
	position: absolute;	
	z-index: 99;
}
#progressBar {
	background-color: white;
	border: 1px solid white;
	margin: -1px;
	padding: 0px;
}
#progressText {
	position: absolute;
	text-align: center;
	text-shadow: #000000 1px 1px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: rgba(0, 0, 0, 0.66);
	border-radius: 8px;
	color: white;
	font-family: Consolas, Courier New, Courier;
	font-size: 9pt;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
	max-width: 90%;
	max-height: 1.1em;
}
#log {
	font-family: Consolas, Courier New, Courier;
	font-size: 9pt;
	margin: 0px;
	border: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
}
#images, #scripts, #sounds {
	display: none;
}
#fonts {
	position: absolute;
	z-index: -99;
	left: 2px;
	top: 2px;
	width: 16px;
	height: 16px;
	background-color: white;
	color: black;
}
#stats {	
	position: absolute;
	font-family: Consolas, Courier New, Courier;
	font-size: 9pt;
	margin: 0px;
	padding: 0px;
}
.webgl-notice {
	display: inline-block;
	text-align: center;
	width: 100%;
}
#drawsPerSecond, #updatesPerSecond, #cacheSize {
	font-family: Consolas, Courier New, Courier;
	font-size: 9pt;
	margin: 0px;
	padding: 2px;
	text-align: right;
	display: inline-block;
	width: 4em;
}
#stats, #stats span, #stats span span, #loadingProgress, #progressBar, #progressText, #fullscreenButton, #quitButton, #loadButton, #welcomeMessage, #canvas {
	cursor: default;
}
