html {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: black;
	color: white;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0px;
	padding: 0px;
}
a, a:visited {
	color: silver;
}
#canvas {
	left: 0px;
	top: 0px;
}
#welcomeMessage {
	width: 680px;
	height: 150px;
	left: 300px;
	top: 240px;
}
#loadButton {
	width: 200px;
	height: 40px;
	left: 539px;
	top: 320px;
}
#quitButton {
	width: 32px;
	height: 32px;
	left: 1284px;
	top: 2px;
}
#loadingProgress {
	width: 600px;
	height: 40px;
	left: 339px;
	top: 320px;
}
#progressBar {
	height: 40px;
}
#log {
	width: 1280px;
	height: 200px;
	left: 2px;
	top: 724px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#fullscreenButton {
	left: 1284px;
	top: 2px;
	height: 45px;
}
#stats {
	left: 1284px;
	top: 50px;
}
#rendertargets {
	position: absolute;
	top: 720px;
	height: 240px;
	width: 1024px;
	overflow: scroll;
}
#rendertargets canvas {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
#textures {
	position: absolute;
	top: 960px;
	height: 240px;
	width: 1024px;
	overflow: scroll;
}
#textures canvas {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
.boxCaption {
	position: absolute;
	font-size: 10pt;
	font-family: Consolas, Courier New, Courier;
	z-index: -999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}