body, html {
	/* Without this the scaled canvas gets cropped to the arbitrary height of the document WTF */
	/* WHY THE HELL IS THIS NECESSARY WHY IS CSS SO DUMB */
	width: 4096px;
	height: 4096px;
	overflow: hidden;
}
#canvas {
	left: 0px;
	top: 0px;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
#loadingProgress {
	width: 400px;
	height: 40px;
	left: 200px;
	top: 220px;
}
#progressBar {
	height: 40px;
}
#log {
	width: 800px;
	height: 150px;
	left: 0px;
	top: 482px;
}
#stats {
	left: 802px;
	top: 50px;
}