body {
	font-family: Consolas, Courier New, Courier, monospace;
	font-size: 14pt;
}

div#throbber {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 999;
	background-image: url(throbber.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}