<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <caching>
            <outputCacheSettings enableOutputCache="false" />
        </caching>
    </system.web>
    <system.webServer>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <caching>
            <profiles>
                <add extension=".js" policy="DontCache" kernelCachePolicy="DontCache" duration="00:00:30" />
            </profiles>
        </caching>
        <staticContent>
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
            <mimeMap fileExtension=".xnb" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".resj" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".maaap" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".soundBank" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".replay" mimeType="application/json" />
            <mimeMap fileExtension=".fs" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".vs" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".RuntimeProfile" mimeType="application/octet-stream" />
        </staticContent>
        <httpCompression directory="%TEMP%\IIS\gzip">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
            <dynamicTypes>
                <add mimeType="*/*" enabled="true"/>
            </dynamicTypes>
            <staticTypes>
                <add mimeType="*/*" enabled="true"/>
            </staticTypes>
        </httpCompression>
  </system.webServer>
</configuration>
