<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <caching>
            <profiles>
                <add extension=".js" policy="DisableCache" kernelCachePolicy="DontCache" duration="00:00:30" varyByQueryString="*" />
            </profiles>
        </caching>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
