body {
	background-image: url(images/jsil_256px.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom right;
}

div#introduction {
}

img#logo {
	margin-bottom: -0.1em;
	margin-right: 0.1em;
}

div#changelog {
	position: relative;
	height: 26em;
}

div#changelog_entries {
	position: absolute;
	left: 0.25em;
	top: 3em;
	right: 6px;
	bottom: 6px;
	overflow-x: hidden;
	overflow-y: auto;
}

div.changelog-entry {
	position: relative;
	height: 3em;
	width: 100%;
	padding: 0px;
	margin: 0px;
	margin-bottom: 0.4em;
	float: left;
	clear: left;
}

img.author-image {
	position: absolute;
	top: 0.1em;
	left: 0.1em;
	width: 2.8em;
	bottom: 0.1em;
	border-radius: 6px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

div.changelog-entry div.header {
	position: absolute;
	top: 0em;
	left: 3.1em;
	right: 0em;
	height: 0.8em;
}

div.message {
	position: absolute;
	top: 0.9em;
	left: 3.1em;
	right: 0em;
	bottom: 0em;
	overflow: hidden;
	padding-left: 3px;
	padding-right: 3px;
}

div.message .text {
	font-family: Consolas, monospace;
	font-size: 0.8em;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: pre-line;
}

div.changelog-entry .author {
	position: absolute;
	left: 0em;
	width: 9em;
	font-size: 0.8em;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.changelog-entry .datetime {
	position: absolute;
	left: 10em;
	font-size: 0.8em;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.changelog-entry .datetime .time {
	margin-left: 0.5em;
}

div#changelog_loading_placeholder {
	position: absolute;
	top: 4em;
	bottom: 0px;
	right: 0px;
	left: 0px;
	font-style: italic;
	text-align: center;
}

a#view_on_github {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 0.5em;
}

input.carousel-previous {
	left: 0;
	background-image: url(images/previous.png);
}

input.carousel-next {
	right: 0;
	background-image: url(images/next.png);
}

input.carousel-control {
	position: absolute;
	overflow: hidden;
	display: block;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	width: 48px;
	height: 48px;
	cursor: pointer;
	line-height: 999px;
	border: 0px none;
	text-indent: -9999px;
	border-width: 1px;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
   -moz-border-radius: 16px;
   -webkit-border-radius: 16px;
	border-radius: 16px;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
}

div.carousel-wrap {
	width: 300px;
	height: 300px;
	display: block;
	position: absolute;
	left: 49px;
	top: 0;
	bottom: 0;
	padding: 0px;
	margin: 0px;
   -moz-border-radius: 16px;
   -webkit-border-radius: 16px;
	border-radius: 16px;
	background-color: black;
}

div#demo_carousel {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 398px;
	height: 300px;
}

div#demo_carousel, div#demo_carousel a {
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

div#carousel_items {
	text-align: left;
	height: 300px;
}

div#demo_carousel a {
	display: block;
	float: left;
	margin: 0px;
	padding: 16px;
	width: 300px;
	height: 300px;
	border: 0px;
	text-align: center;
	color: white;
	text-shadow: black 1px 1px 2px;
	font-weight: bold;
	font-size: 1.2em;
	opacity: 0.8;
}

div#demo_carousel a:hover {
	opacity: 1.0;
}

ul#sample_list {
	-moz-column-count: 3;
	-moz-column-gap: 1em;
	-webkit-column-count: 3;
	-webkit-column-gap: 1em;
	column-count: 3;
	column-gap: 1em;
	list-style-type: circle;
	list-style-position: inside;
}

iframe#codesample {
	margin-top: 0.5em;
	margin-bottom: 0em;
	width: 100%;
	overflow: hidden;
	height: 0em;
}

span#branch_list {
	position: absolute;
	top: 0.5em;
	margin-left: 1.5em;
	font-size: 0.5em;
	font-weight: normal;
}

a.branch {
	margin-right: 0.33em;
}

a.branch.active {
	font-weight: bold;
	background-color: rgba(255, 229, 209, 0.8);
	border-color: #C68D61;
	color: #703200;
}

a.branch.active:hover {
	background-color: rgba(255, 229, 209, 0.8);
	border-color: #C68D61;
	color: #703200;
}