<configuration>
  <system.web>
    <httpRuntime maxRequestLength="128000" executionTimeout="600" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <customErrors mode="Off" />
    <compilation debug="true">
    </compilation>
  </system.web>
  <system.webServer>
    <asp enableChunkedEncoding="true"/>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>