#canvas {
	left: 2px;
	top: 2px;
}
#welcomeMessage {
	width: 680px;
	height: 300px;
	left: 60px;
	top: 50px;
}
#loadButton {
	width: 200px;
	height: 40px;
	left: 300px;
	top: 280px;
}
#quitButton {
	width: 32px;
	height: 32px;
	left: 804px;
	top: 2px;
}
#loadingProgress {
	width: 400px;
	height: 40px;
	left: 200px;
	top: 280px;
}
#progressBar {
	height: 40px;
}
#log {
	width: 800px;
	height: 150px;
	left: 2px;
	top: 604px;
}